body.light {
  --bg-color: #fff;
  --text-color: #000;
}

body.dark {
  --bg-color: #121212;
  --text-color: #fff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.2s ease, color 0.2s ease;
}
